{% extends "layout.html" %}
{% load static %}

{% block head %}
<link href="{% static 'func/order/css/style.css' %}" rel="stylesheet" />
<link href="{% static 'func/order/css/responsive.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
    <section class="food_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Our Menu
                </h2>
            </div>
            <div>
                <div class="row grid">
                    {% for item in items %}
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                                </div>
                                <div class="detail-box">
                                    <div style="font-size: large; font-weight: bold;">
                                        {{ item.name }}
                                    </div>
                                    <p>
                                        {{ item.description }}<br><br>
                                        <b>Calories:</b> {{item.calories}}, <b>Protein:</b> {{item.protein}}, <b>Fat:</b> {{item.fat}}, <b>Carbs:</b> {{item.carbohydrates}}
                                    </p>
                                    <div class="options">
                                        <p>
                                            <b>₹{{ item.price }}</b>
                                        </p>

                                        <a href="{% url 'func:add' item.id %}" style="font-size: x-large; color: black;">
                                            +
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- end food section -->
</div>
{% endblock %}